examples/example.json
[{"id":"d8112b64.a783b8","type":"debug","z":"c3445234.2456c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":849,"y":1836,"wires":[]},{"id":"df47596.c0dc7a8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"hue slider","label":"Hue slider","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"","components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"hue"},"componentId":"slider"}],"outFormat":"hsl","dynOutput":"input:move","passthru":false,"topic":"iro.js color picker","topicType":"str","x":573,"y":1836,"wires":[["d8112b64.a783b8"]]},{"id":"eda05732.bb56d8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"temperature slider","label":"Temperature","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"","components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"kelvin"},"componentId":"slider"}],"outFormat":"kelvin","dynOutput":"input:end","passthru":false,"topic":"colorTemperature","topicType":"str","x":600,"y":1972,"wires":[["58103f9d.c596c"]]},{"id":"58103f9d.c596c","type":"debug","z":"c3445234.2456c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":846,"y":1972,"wires":[]},{"id":"413fc9a1.51df18","type":"debug","z":"c3445234.2456c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":849,"y":2040,"wires":[]},{"id":"4b37951e.a4323c","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"RGB box","label":"RGB Box","layoutDirection":"vertical","widgetIndent":"3","pickerType":"popupCW","pickerSize":"100","components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"hue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":4,"boxHeight":null},"componentId":"box"}],"outFormat":"rgb","dynOutput":"input:move","passthru":false,"topic":"colorPicker","topicType":"str","x":570,"y":2108,"wires":[[]]},{"id":"19d0fd5d.e91023","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"aColor","payload":"{\"r\":0,\"g\":255,\"b\":0}","payloadType":"json","x":280,"y":1972,"wires":[["4b37951e.a4323c","df47596.c0dc7a8","eda05732.bb56d8","9fe266a8.d00fd8","d9365f7b.284ab","403f3f7f.82b2e","564a0c05.a881b4"]]},{"id":"9fe266a8.d00fd8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"Sliders","label":"Sliders popoup","layoutDirection":"vertical","widgetIndent":"3","pickerType":"popupCW","pickerSize":"100","components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"blue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"alpha"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","passthru":false,"topic":"colorPicker","topicType":"str","x":560,"y":2176,"wires":[[]]},{"id":"d9365f7b.284ab","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"Sliders widget","label":"RGB Sliders widget","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"100","components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"blue"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","passthru":false,"topic":"colorPicker","topicType":"str","x":590,"y":2227,"wires":[[]]},{"id":"403f3f7f.82b2e","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"RGB picker 150%","label":"RGB Picker 150%","layoutDirection":"vertical","widgetIndent":"3","pickerType":"popupCG","pickerSize":"150","components":[{"options":{"borderColor":"#000000","borderWidth":4,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"color:change","passthru":false,"topic":"colorPicker","topicType":"str","x":600,"y":2040,"wires":[["413fc9a1.51df18","df47596.c0dc7a8"]]},{"id":"564a0c05.a881b4","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"RGB picker","label":"Picker","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"150","components":[{"options":{"borderColor":"#000000","borderWidth":4,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"color:change","passthru":false,"topic":"colorPicker","topicType":"str","x":580,"y":2278,"wires":[[]]},{"id":"ed70d09f.13464","type":"ui_multistate_switch","z":"c3445234.2456c","name":"","group":"68300045.dcdbf","order":4,"width":0,"height":0,"label":"s Switch","stateField":"payload","enableField":"enable","rounded":true,"useThemeColors":true,"hideSelectedLabel":false,"options":[{"label":"Option 0","value":"option_0","valueType":"str","color":"#009933"},{"label":"Option 1","value":"option_1","valueType":"str","color":"#999999"},{"label":"Option 2","value":"option_2","valueType":"str","color":"#ff6666"}],"x":588,"y":2363,"wires":[[]]},{"id":"84d5eb25.fac4d8","type":"ui_multistate_switch","z":"c3445234.2456c","name":"","group":"68300045.dcdbf","order":4,"width":0,"height":0,"label":"another switch","stateField":"payload","enableField":"enable","rounded":true,"useThemeColors":true,"hideSelectedLabel":false,"options":[{"label":"Option 0","value":"option_0","valueType":"str","color":"#009933"},{"label":"Option 1","value":"option_1","valueType":"str","color":"#999999"},{"label":"Option 2","value":"option_2","valueType":"str","color":"#ff6666"}],"x":607,"y":2414,"wires":[[]]},{"id":"76a64b1b.c32624","type":"ui_group","name":"iro.js color picker","tab":"baf5f94f.3685c8","order":2,"disp":true,"width":"7","collapse":true},{"id":"68300045.dcdbf","type":"ui_group","name":"Device Status","tab":"baf5f94f.3685c8","order":1,"disp":true,"width":"7","collapse":true},{"id":"baf5f94f.3685c8","type":"ui_tab","name":"Status table","icon":"dashboard","order":1,"disabled":false,"hidden":false}]