examples/example.json
[{"id":"d8112b64.a783b8","type":"debug","z":"c3445234.2456c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":934,"y":1853,"wires":[]},{"id":"df47596.c0dc7a8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":1,"width":"0","height":"0","name":"hue slider","label":"Hue slider","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"hue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"saturation"},"componentId":"slider"}],"outFormat":"hsl","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":true,"topic":"iro.js color picker","topicType":"str","x":658,"y":1853,"wires":[["d8112b64.a783b8"]]},{"id":"eda05732.bb56d8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":7,"width":"0","height":"0","name":"temperature slider","label":"Temperature","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"kelvin","minTemperature":2800,"maxTemperature":6000},"componentId":"slider"}],"outFormat":"kelvin","dynOutput":"input:end","outputConfirmed":true,"outputLimit":"","passthru":false,"topic":"colorTemperature","topicType":"str","x":685,"y":2278,"wires":[["58103f9d.c596c"]]},{"id":"58103f9d.c596c","type":"debug","z":"c3445234.2456c","name":"temperature slider","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":971,"y":2278,"wires":[]},{"id":"413fc9a1.51df18","type":"debug","z":"c3445234.2456c","name":"picker popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":954,"y":1921,"wires":[]},{"id":"4b37951e.a4323c","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":3,"width":"0","height":"0","name":"RGB box popup","label":"RGB Box","layoutDirection":"vertical","widgetIndent":"3","pickerType":"popupCW","pickerSize":"100","backgroundDim":"80","backgroundColor":"#59258d","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"hue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":2,"boxHeight":null},"componentId":"box"}],"outFormat":"rgb","dynOutput":"input:end","outputConfirmed":true,"outputLimit":"","passthru":false,"topic":"colorPicker","topicType":"str","x":675,"y":1989,"wires":[["e4206d04.89e63"]]},{"id":"19d0fd5d.e91023","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"rgb object","payload":"{\"r\":0,\"g\":255,\"b\":0}","payloadType":"json","x":222,"y":1921,"wires":[["98c26c98.fe6ff"]]},{"id":"9fe266a8.d00fd8","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":4,"width":"0","height":"0","name":"Sliders popup","label":"Sliders popoup","layoutDirection":"horizontal","widgetIndent":"3","pickerType":"popupCC","pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"blue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":false,"topic":"colorPicker","topicType":"str","x":675,"y":2057,"wires":[["6b75544b.33117c"]]},{"id":"d9365f7b.284ab","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":5,"width":"0","height":"0","name":"Sliders widget","label":"RGB Sliders widget (text warps if nessesary)","layoutDirection":"horizontal","widgetIndent":"3","pickerType":"widget","pickerSize":"100","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"blue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":false,"topic":"colorPicker","topicType":"str","x":675,"y":2125,"wires":[["8fb904c8.5fa118"]]},{"id":"403f3f7f.82b2e","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":2,"width":"0","height":"0","name":"RGB picker popup 150%","label":"RGB Picker 150%","layoutDirection":"vertical","widgetIndent":"3","pickerType":"popupCG","pickerSize":"150","backgroundDim":"90","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":4,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":false,"outputLimit":"20","passthru":false,"topic":"colorPicker","topicType":"str","x":705,"y":1921,"wires":[["413fc9a1.51df18"]]},{"id":"564a0c05.a881b4","type":"ui_iro-color-picker","z":"c3445234.2456c","group":"76a64b1b.c32624","order":6,"width":"0","height":"0","name":"RGB picker","label":"Picker","layoutDirection":"vertical","widgetIndent":"3","pickerType":"widget","pickerSize":"150","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"wheelLightness":false,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":false,"topic":"colorPicker","topicType":"str","x":665,"y":2210,"wires":[["e255de0d.51a3a"]]},{"id":"daf67beb.959bc8","type":"inject","z":"c3445234.2456c","name":"Enable","props":[{"p":"enable","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":152,"y":2159,"wires":[["bfd070e.9152a9"]]},{"id":"c0af683c.8fea18","type":"inject","z":"c3445234.2456c","name":"Disnable","props":[{"p":"enable","v":"false","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":162,"y":2210,"wires":[["bfd070e.9152a9"]]},{"id":"e4206d04.89e63","type":"debug","z":"c3445234.2456c","name":"box popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":954,"y":1989,"wires":[]},{"id":"c0cc1e5a.e32ec","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"temperature","payload":"4000","payloadType":"num","x":182,"y":2278,"wires":[["eda05732.bb56d8"]]},{"id":"85cf9a2.ff64668","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":2210,"wires":[["564a0c05.a881b4"]]},{"id":"b9022ee3.f3b58","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":2125,"wires":[["d9365f7b.284ab"]]},{"id":"df026177.b69ac","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":2057,"wires":[["9fe266a8.d00fd8"]]},{"id":"ffa68d33.4e3c9","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":1989,"wires":[["4b37951e.a4323c"]]},{"id":"4fead8df.4c5f08","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":1921,"wires":[["403f3f7f.82b2e"]]},{"id":"873b8ba1.68a688","type":"link in","z":"c3445234.2456c","name":"color","links":["98c26c98.fe6ff","bfd070e.9152a9"],"x":525,"y":1853,"wires":[["df47596.c0dc7a8"]]},{"id":"6b75544b.33117c","type":"debug","z":"c3445234.2456c","name":"slider popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":954,"y":2057,"wires":[]},{"id":"8fb904c8.5fa118","type":"debug","z":"c3445234.2456c","name":"sliders widget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":964,"y":2125,"wires":[]},{"id":"e255de0d.51a3a","type":"debug","z":"c3445234.2456c","name":"rgb picker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":944,"y":2210,"wires":[]},{"id":"98c26c98.fe6ff","type":"link out","z":"c3445234.2456c","name":"color","links":["4fead8df.4c5f08","85cf9a2.ff64668","873b8ba1.68a688","b9022ee3.f3b58","df026177.b69ac","ffa68d33.4e3c9"],"x":440,"y":1938,"wires":[]},{"id":"5786e734.164f58","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hex","payload":"#AAAAAA","payloadType":"str","x":172,"y":1989,"wires":[["98c26c98.fe6ff"]]},{"id":"affde1d.9aa512","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hex8","payload":"#FF0000AA","payloadType":"str","x":182,"y":2040,"wires":[["98c26c98.fe6ff"]]},{"id":"61a8d71c.23ccc8","type":"inject","z":"c3445234.2456c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HLS object","payload":"{\"h\":90,\"s\":50,\"l\":60}","payloadType":"json","x":232,"y":1853,"wires":[["98c26c98.fe6ff"]]},{"id":"bfd070e.9152a9","type":"link out","z":"c3445234.2456c","name":"color","links":["4fead8df.4c5f08","85cf9a2.ff64668","873b8ba1.68a688","b9022ee3.f3b58","df026177.b69ac","ffa68d33.4e3c9"],"x":440,"y":2210,"wires":[]},{"id":"76a64b1b.c32624","type":"ui_group","name":"iro.js color picker","tab":"4e562e4.b15cad","order":1,"disp":true,"width":"7","collapse":true},{"id":"4e562e4.b15cad","type":"ui_tab","name":"iro.js color picker","icon":"dashboard","order":1,"disabled":false,"hidden":false}]