examples/mixed widgets.json
[{"id":"2902caad.e9ebf6","type":"debug","z":"7fd2ef10.d1106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":917,"y":119,"wires":[]},{"id":"d38120b5.ca6b7","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":7,"width":"0","height":"0","name":"hue slider","label":"Hue and Value","placement":"left","hAlign":"flex-start","vAlign":"flex-start","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"","pickerType":"widget","pickerSize":"","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"hue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"saturation"},"componentId":"slider"}],"outFormat":"hsl","dynOutput":"input:end","outputConfirmed":true,"outputLimit":"1","passthru":true,"topic":"iro.js color picker","topicType":"str","iroColorValue":"#00b3ff","x":641,"y":119,"wires":[["2902caad.e9ebf6"]]},{"id":"931d0c7f.9caa8","type":"debug","z":"7fd2ef10.d1106","name":"picker popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":937,"y":187,"wires":[]},{"id":"ae66d1ec.ae5c","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":9,"width":"0","height":"0","name":"RGB box popup","label":"Center Group:","placement":"left","hAlign":"flex-end","vAlign":"center","layoutDirection":"vertical","widgetIndent":"4","buttonWidth":"2","pickerType":"popupCG","pickerSize":"100","backgroundDim":"50","backgroundColor":"#59258d","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"hue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":2,"boxHeight":null},"componentId":"box"}],"outFormat":"rgb","dynOutput":"input:end","outputConfirmed":true,"outputLimit":"","passthru":false,"topic":"colorPicker","topicType":"str","x":658,"y":255,"wires":[["feb8b483.4b2288"]]},{"id":"50b1dadc.4381d4","type":"inject","z":"7fd2ef10.d1106","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"rgb object","payload":"{\"r\":0,\"g\":255,\"b\":0}","payloadType":"json","x":205,"y":187,"wires":[["5bdd6b02.1f2e64"]]},{"id":"252765b8.bafc8a","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":10,"width":"0","height":"0","name":"Sliders popup","label":"Center Button:","placement":"left","hAlign":"flex-end","vAlign":"center","layoutDirection":"vertical","widgetIndent":"4","buttonWidth":"1","pickerType":"popupCC","pickerSize":"75","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"saturation"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"value"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"blue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"sliderType":"kelvin","minTemperature":3000,"maxTemperature":6000},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":false,"topic":"colorPicker","topicType":"str","iroColorValue":"#ff0000","x":658,"y":323,"wires":[["30925de0.489202"]]},{"id":"f74a57c4.c43578","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":11,"width":"0","height":"0","name":"Sliders widget","label":"Many sliders with more lable text","placement":"left","hAlign":"flex-start","vAlign":"center","layoutDirection":"horizontal","widgetIndent":"3","pickerType":"widget","pickerSize":"100","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"red"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"green"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"blue"},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":0,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":true,"outputLimit":"1","passthru":false,"topic":"colorPicker","topicType":"str","x":658,"y":391,"wires":[["b5b3da94.fbddc8"]]},{"id":"3e70b632.5d40fa","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":8,"width":"0","height":"0","name":"RGB picker popup 90%","label":"Center Window:","placement":"left","hAlign":"flex-end","vAlign":"center","layoutDirection":"vertical","widgetIndent":"4","buttonWidth":"3","pickerType":"popupCW","pickerSize":"90","backgroundDim":"80","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#808080","borderWidth":1,"wheelLightness":true,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#808080","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"rgb","dynOutput":"input:move","outputConfirmed":false,"outputLimit":"20","passthru":false,"topic":"colorPicker","topicType":"str","iroColorValue":"#000000","x":688,"y":187,"wires":[["931d0c7f.9caa8"]]},{"id":"7f696d6d.2866a4","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"76a64b1b.c32624","order":12,"width":"0","height":"0","name":"HSV picker","label":"HSV picker label above","placement":"above","hAlign":"center","vAlign":"flex-start","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"","pickerType":"widget","pickerSize":"150","backgroundDim":"","backgroundColor":"#000000","backgroundVariable":true,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"wheelLightness":false,"wheelAngle":0,"wheelDirection":"anticlockwise"},"componentId":"picker"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value"},"componentId":"slider"}],"outFormat":"hsv","dynOutput":"input:move","outputConfirmed":false,"outputLimit":"20","passthru":false,"topic":"colorPicker","topicType":"str","iroColorValue":"#000000","x":648,"y":476,"wires":[["6ed359d8.7664e8"]]},{"id":"dbd99535.a50458","type":"inject","z":"7fd2ef10.d1106","name":"Enable","props":[{"p":"enable","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":135,"y":425,"wires":[["1083814a.75929f"]]},{"id":"64c59381.85adcc","type":"inject","z":"7fd2ef10.d1106","name":"Disnable","props":[{"p":"enable","v":"false","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":145,"y":476,"wires":[["1083814a.75929f"]]},{"id":"feb8b483.4b2288","type":"debug","z":"7fd2ef10.d1106","name":"box popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":937,"y":255,"wires":[]},{"id":"dd036f9.7dd539","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":476,"wires":[["7f696d6d.2866a4"]]},{"id":"88b32215.13c85","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":391,"wires":[["f74a57c4.c43578"]]},{"id":"e86c02da.363d4","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":323,"wires":[["252765b8.bafc8a"]]},{"id":"eda49f1b.097a6","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":255,"wires":[["ae66d1ec.ae5c"]]},{"id":"1057902c.2dc6d","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":187,"wires":[["3e70b632.5d40fa"]]},{"id":"cf793065.450a2","type":"link in","z":"7fd2ef10.d1106","name":"color","links":["5bdd6b02.1f2e64","1083814a.75929f"],"x":508,"y":119,"wires":[["d38120b5.ca6b7"]]},{"id":"30925de0.489202","type":"debug","z":"7fd2ef10.d1106","name":"slider popup","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":937,"y":323,"wires":[]},{"id":"b5b3da94.fbddc8","type":"debug","z":"7fd2ef10.d1106","name":"sliders widget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":947,"y":391,"wires":[]},{"id":"6ed359d8.7664e8","type":"debug","z":"7fd2ef10.d1106","name":"rgb picker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":927,"y":476,"wires":[]},{"id":"5bdd6b02.1f2e64","type":"link out","z":"7fd2ef10.d1106","name":"color","links":["1057902c.2dc6d","dd036f9.7dd539","cf793065.450a2","88b32215.13c85","e86c02da.363d4","eda49f1b.097a6","de3c09e4.2150d8","6ad621a3.a5879","127556c.99272a9"],"x":423,"y":204,"wires":[]},{"id":"ad298d30.a2215","type":"inject","z":"7fd2ef10.d1106","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hex","payload":"#AAAAAA","payloadType":"str","x":155,"y":255,"wires":[["5bdd6b02.1f2e64"]]},{"id":"dc955454.e6fd08","type":"inject","z":"7fd2ef10.d1106","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"hex8","payload":"#FF0000AA","payloadType":"str","x":165,"y":306,"wires":[["5bdd6b02.1f2e64"]]},{"id":"68d58433.69f5ec","type":"inject","z":"7fd2ef10.d1106","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"HLS object","payload":"{\"h\":90,\"s\":50,\"l\":60}","payloadType":"json","x":215,"y":119,"wires":[["5bdd6b02.1f2e64"]]},{"id":"1083814a.75929f","type":"link out","z":"7fd2ef10.d1106","name":"color","links":["1057902c.2dc6d","dd036f9.7dd539","cf793065.450a2","88b32215.13c85","e86c02da.363d4","eda49f1b.097a6","de3c09e4.2150d8","6ad621a3.a5879","127556c.99272a9"],"x":423,"y":476,"wires":[]},{"id":"76a64b1b.c32624","type":"ui_group","name":"iro.js color picker","tab":"4e562e4.b15cad","order":2,"disp":true,"width":"7","collapse":true},{"id":"4e562e4.b15cad","type":"ui_tab","name":"iro.js color picker","icon":"dashboard","order":1,"disabled":false,"hidden":false}]