examples/tuneable white.json
[{"id":"c3f55a86.2e4c48","type":"change","z":"7fd2ef10.d1106","name":"Kelvin","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"kelvin","pt":"msg","to":"value","tot":"msg"},{"t":"delete","p":"value","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":595,"wires":[["a885037b.a59f9"]]},{"id":"d6d74110.e3d64","type":"change","z":"7fd2ef10.d1106","name":"Value","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":629,"wires":[["a885037b.a59f9"]]},{"id":"a885037b.a59f9","type":"ui_iro-color-picker","z":"7fd2ef10.d1106","group":"b67fabeb.be8b98","order":1,"width":"0","height":"0","name":"","label":"Tuneable white","placement":"above","hAlign":"center","vAlign":"center","stateField":"payload","enableField":"enable","layoutDirection":"vertical","widgetIndent":"3","buttonWidth":"","pickerType":"widget","pickerSize":"100","backgroundDim":"50","backgroundColor":"#000000","backgroundVariable":false,"components":[{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"value","minTemperature":3000,"maxTemperature":6000},"componentId":"slider"},{"options":{"borderColor":"#000000","borderWidth":1,"sliderType":"kelvin","minTemperature":3000,"maxTemperature":6000},"componentId":"slider"}],"format":"hex","outFormat":"tuneable","dynOutput":"input:move","outputConfirmed":false,"outputLimit":"20","passthru":false,"topic":"tuneable","topicType":"str","iroColorValue":"#000000ff","x":1083,"y":612,"wires":[["a686c3b2.02f6f"]]},{"id":"a686c3b2.02f6f","type":"split","z":"7fd2ef10.d1106","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1240,"y":612,"wires":[["d9140bae.568488"]]},{"id":"d9140bae.568488","type":"debug","z":"7fd2ef10.d1106","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1393,"y":612,"wires":[]},{"id":"b67fabeb.be8b98","type":"ui_group","name":"Tuneable White","tab":"4e562e4.b15cad","order":1,"disp":true,"width":"7","collapse":true},{"id":"4e562e4.b15cad","type":"ui_tab","name":"iro.js color picker","icon":"dashboard","order":1,"disabled":false,"hidden":false}]